{% extends 'base.html.twig' %}
{%  block title 'Biens' %}
{% block body %}
        <div class="container mt-4">
            <h1> Bien </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias debitis, error eum excepturi
                explicabo
                fugiat fugit id iste natus necessitatibus nemo nostrum odio quaerat qui sed suscipit ut.</p>
        </div>

{% endblock %}